@tailwind base;
@tailwind components;
@tailwind utilities;

/* .example {
  --color: hsl(239, 45%, 18%);
} */

@layer base {
  :root {

    --brand-primary-50: 38 100% 97%;
    --brand-primary-100: 38 100% 90%;
    --brand-primary-200: 38 100% 68%;
    --brand-primary-300: 38 98% 64%;
    --brand-primary-400: 38 100% 55%;
    --brand-primary-500: 38 92% 52%;
    --brand-primary-600: 38 85% 44%;
    --brand-primary-700: 38 84% 37%;
    --brand-primary-800: 38 81% 30%;
    --brand-primary-900: 38 100% 13%;

    --brand-tune-50: 196 79% 95%;
    --brand-tune-100: 196 79% 89%;
    --brand-tune-200: 196 79% 78%;
    --brand-tune-300: 196 79% 62%;
    --brand-tune-400: 196 80% 51%;
    --brand-tune-500: 200 72% 47%;
    --brand-tune-600: 206 66% 43%;
    --brand-tune-700: 221 55% 36%;
    --brand-tune-800: 238 45% 32%;
    --brand-tune-900: 239 45% 18%;

    @apply [color-scheme:light_dark];

  }

  *,
  *::before,
  *::after {
    @apply box-border relative;
  }

  input:focus-visible,
  textarea:focus-visible {
    @apply outline-none;
  }

  .input:focus-within {
    @apply shadow-[0_0_0rem_0.075rem_rgb(249_250_251),0_0_0.125rem_0.25rem_var(--tw-shadow-color)] dark:shadow-[0_0_0rem_0.075rem_rgb(17_24_39),0_0_0.125rem_0.25rem_var(--tw-shadow-color)] shadow-primary-500;
  }

  ::-moz-selection {
    @apply bg-primary-50 text-shadow-md;
  }

  ::selection {
    @apply bg-primary-50 text-shadow-md;
  }

  *,
  html,
  body,
  *::before,
  *::after {
    @apply p-0 m-0;
  }
  
  html {
    @apply !scroll-smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply overflow-x-hidden bg-gray-50 dark:bg-gray-800;
  }

  main {
    @apply mt-16 sm:mt-20;
  }

  address {
    @apply not-italic;
  }

  img {
    @apply select-none pointer-events-none;
  }
}